/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */


.thought1 {
    font-family: 'Hanalei Fill', cursive;
}

.thought2 {
    font-family: 'Kirang Haerang', cursive;
}

.thought3 {
    font-family: 'Open Sans Condensed', sans-serif;
}

